class usr_agent extends uvm_agent;
  `uvm_component_utils(usr_agent)

  usr_sequencer sequencer;
  usr_driver    driver;
  usr_monitor   monitor;

  function new(string name = "usr_agent", uvm_component parent = null);
    super.new(name, parent);
  endfunction

  function void build_phase(uvm_phase phase);
    super.build_phase(phase);
    sequencer = usr_sequencer::type_id::create("sequencer", this);
    driver    = usr_driver   ::type_id::create("driver", this);
    monitor   = usr_monitor  ::type_id::create("monitor", this);
  endfunction

  function void connect_phase(uvm_phase phase);
    super.connect_phase(phase);
    driver.seq_item_port.connect(sequencer.seq_item_export);
  endfunction
endclass
